.header-box{
    height: 80px;
    width: 100%;
    .header-top{
        height: 40px;
        border-bottom: 1px #1da57a solid;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        line-height: 40px;
        align-items: center
        span{
            font-size: 14px;
            margin-right: 20px
        }
        button{
            padding: 0 20px;
            margin-right: 40px;
            border: 0px;
            background: white;
            height: 14px;
            font-size: 14px;
            color: #1da57a
        }
    }
    .header-bottom{
        height: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        line-height: 40px;
        .header-left{
            width: 25%;
            height: 40px;
            text-align: center;
            font-size: 20px;
            position: relative;
            &::after {
                    position: absolute;
                    left: 50%;
                    top: 30px;
                    transform: translateX(-50%);
                    content: '';
                    border-top: 20px solid white;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid transparent;
                  } 
        }
        .header-right{
            height: 40px;
            width: 75%;
            display: flex;
            justify-content: flex-end;
            p{
                margin-right: 20px
            }
            .line-img{
                img{
                    margin: 0 10px;
                    width: 30px;
                    height: 20px;
                }
            }
        }
    }
}